.content
  .content__new
    .content__new_1
      %a 令和2年
      %br 高知県須崎市内 
      = image_tag 'pict/IMG_0428.JPG',class: "image"
      = image_tag 'pict/IMG_0484.JPG',class: "image"
      = image_tag 'pict/IMG_0485.JPG',class: "image"