.history{
  &__info{
    &_name{
      background-color: springgreen;
      padding-left: 30px;
      font-size: x-large;
    }
    .history__date{
      font-size: larger;
      font-weight: bold;
      padding-left: 50px;
      color: navy;
      margin-top: 30px;
      &_content{
        font-size: medium;
        font-weight: normal;
        padding-left: 120px;
        color: #000000;
      }
    }
  }
}