.summary{
  &__info{
    &_menu{
      font-size: 30px;
      color: green;
      display: flex;
      justify-content: center;
    }
    &_name{
      background-color: springgreen;
      padding-left: 30px;
      font-size: x-large;
    }

    .company__date{
      font-size: larger;
      font-weight: bold;
      padding-left: 50px;
      color: navy;
      margin-top: 30px;
      &_content{
        font-size: medium;
        font-weight: normal;
        padding-left: 120px;
        color:#000000;
      }
    }
  }
}