.history
  .history__info
    .history__info_name
      沿革
    .history__date
      平成 17年
      .history__date_content
        『井上工業』設立
    .history__date
      平成 27年 
      .history__date_content
        法人化に伴い『株式会社 鳶工井上』へ変更
        
