.summary
  .summary__info
    .summary__info_name
      会社概要
    .company__date
      屋号
      .company__date_content
        株式会社  鳶工井上
    .company__date
      所在地
      .company__date_content
        高知県高知市鴨部1054-1
    .company__date
      設立
      .company__date_content
        平成２７年７月１日
    .company__date
      資本金
      .company__date_content
        360万円
    .company__date
      代表取締役
      .company__date_content
        井上 暁
    .company__date
      決算期
      .company__date_content
        5月 年１回
    .company__date
      認許可
      .company__date_content
        高知県知事許可 （般 - 28） 第 9963号
        %br とび・土工工事業
    .company__date
      事業内容
      .company__date_content
        足場工事
        %br 