.summary
  .summary__info
    .summary__info_name
      会社概要
    %table{:border => "1"}
      %tr
        %th 会社名
        %td 株式会社 鳶工井上
      %tr
        %th 認許可
        %td 高知県知事許可 (般 - 28) 第 9963号 とび・土工工事業
      %tr
        %th 所在地
        %td 〒780-8050 高知県高知市鴨部1054-1
      %tr
        %th 設立
        %td 平成27年7月1日
      %tr
        %th 資本金
        %td 360万円
      %tr
        %th 代表取締役
        %td 井上 暁 (イノウエ アキラ)
      %tr
        %th TEL・FAX
        %td 088-833-2336
      %tr
        %th Email
        %td tobikou_inoue@outlook.jp
      %tr
        %th ホームページ
        %td 
      %tr
        %th 決算期
        %td 5月 年１回
      %tr
        %th 事業内容
        %td 足場工事
