= render 'tops/header'

.summary
  .summary__info
    .summary__info_menu
      会社概要・沿革
    .summary__info_name
      会社概要
    .company__info_name
      屋号
      .company_name
        株式会社  鳶工井上
    .company__info_address
      所在地
      .company_address
        高知県高知市鴨部1054-1
    .company__info_establishment
      設立
      .company_establishment
        平成２７年７月１日
    .company__info_capital
      資本金
      .company_capital
        