.job__info
  .job__info_main
    %h1 募集要項
    .job__info_content
      %br  当社では一緒に働く仲間を募集しております。
      %br  未経験からでも、見習い→職人→現場責任者と、頑張り次第でステップアップも可能、しっかりとサポートいたします。
      %br  現在どんな仕事をしようか迷っている・友達同士で働きたいなど、ご相談だけでも構いません。
      %br  まずはお気軽にご連絡・ご相談いただければと思います。
      %table{:border => "1"}
        %tr
          %th 仕事内容
          %td 鳶・土木工事業
        %tr
          %th 勤務時間
          %td 8:00 〜 17:00
        %tr
          %th 就業場所
          %td 主に高知県内
        %tr
          %th 給与
          %td 月給 180,000円〜 (＋各種手当)
        %tr
          %th 休日
          %td 日曜日・GW・夏季休暇・年末年始
        %tr
          %th 福利厚生
          %td 社会保険・厚生年金・雇用保険・有給休暇有
        %tr
          %th 年齢
          %td 18歳〜
        %tr
          %th 資格
          %td 不問(資格取得支援制度有)